# Backend .gitignore
/target/
!.mvn/wrapper/maven-wrapper.jar
.env
*.class
*.jar
*.war
*.ear

# Frontend ignore (Separately managed)
frontend/

# Logs and PIDs
*.log
.app.pids

*.env
*.local
.env*
frontend/.env*

# IDE and Project
.idea/
.vscode/
*.iml
.DS_Store

# Temporary files
tmp/
temp/
