# Backend .gitignore
target/
*.class
*.jar
*.war
*.ear

# Frontend ignore (Separately managed)
frontend/

# Logs and PIDs
*.log
.app.pids

# Configurations and Secrets
src/main/resources/application.yml
src/main/resources/application-*.yml
src/main/resources/application.properties
*.env
*.local
.env*
frontend/.env*

# IDE and Project
.idea/
.vscode/
*.iml
.DS_Store

# Temporary files
tmp/
temp/
